@keyframes moveborders {
    0% {
        transform: scale(1) rotate(0deg);
        border-top-left-radius: 50%;
        border-top-right-radius: 45%;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 45%;
    }
    25% {
        transform: scale(0.9) rotate(90deg);
        border-top-left-radius: 45%;
        border-top-right-radius: 50%;
        border-bottom-left-radius: 45%;
        border-bottom-right-radius: 50%;
    }
    50% {
        transform: scale(1) rotate(180deg);
        border-top-left-radius: 50%;
        border-top-right-radius: 45%;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 45%;
    }
    75% {
        transform: scale(0.9) rotate(270deg);
        border-top-left-radius: 45%;
        border-top-right-radius: 50%;
        border-bottom-left-radius: 45%;
        border-bottom-right-radius: 50%;
    }
    100% {
        transform: scale(1) rotate(360deg);
        border-top-left-radius: 50%;
        border-top-right-radius: 45%;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 45%;
    }
}
